#main-nav {
    background: rgb(200, 200, 200);
    border: none;
    box-shadow: rgb(130, 130, 130) 0px 5px 5px;
}

    #main-nav .navbar-brand, #main-nav .navbar-items > li > a {
        color: rgb(20,20,20) !important;
    }

        #main-nav .navbar-brand:hover {
            color: rgb(100,100,100) !important;
        }

        #main-nav .navbar-items > li > a:hover {
            color: rgb(100,100,100) !important;
        }

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(230, 230, 230);
}

.body-content {
    padding: 1% 10%;
    margin: 0px;

}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

h2{
    text-align: center;
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
