* {
    --dsu-white: rgb(234, 234, 234);
    --dsu-lightestgrey: rgb(212,212,212);
    --dsu-lightgrey: rgb(200,200,200);
    --dsu-grey: rgb(100,100,100);
}

#main-nav {
    background: var(--dsu-grey);
    border: none;
    box-shadow: rgb(130, 130, 130) 0px 3px 3px;
}

    #main-nav .navbar-brand, #main-nav .navbar-items > li > a {
        color: var(--dsu-white) !important;
    }

        #main-nav .navbar-brand:hover {
            color: var(--dsu-white) !important;
        }

        #main-nav .navbar-items > li > a:hover {
            color: var(--dsu-white) !important;
        }

body {
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(230, 230, 230);
}

.body-content {
    padding: 1% 10%;
    margin: 0px;

}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

h2{
    text-align: center;
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
